<app-top-bar-landing-page></app-top-bar-landing-page>

<!--Inicio inicio sesion-->
<div class="cuadroCompra">
    <div class="cuadroInternoCompra">
        <h1>De vuelta a la rumba</h1>
        <input class="campoNighCoins correo" type="search" placeholder="Cantidad">
        <input class="campoNighCoins contrasena" type="search" placeholder="Cantidad">
        <h2>¿Olvido su contraseña?</h2>
        <div class="botonesCompra">
            <button>Iniciar con la rumba</button>
            <button>Crear cuenta</button>
        </div>
    </div>
</div>
<!--Fin inicio sesion-->

<!--Inicio Footer-->
<br>
<footer class="footer" style="height: 400px;">
    <p style="text-align: center;font-size: 48px;height: 400px;background: #ccc;">Footer</p>
</footer>
<!--Fin Footer-->

