.campoNighCoins {
    margin: 0 10%;
    width: 80%;
    height:40px;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    font-size: 16px;
}

.correo {
    margin-bottom: 30px;
}

.cuadroCompra {
    width: 100%;
    padding: 0 32%;
}

.cuadroInternoCompra {
    width: 100%;
    height: 500px;
    border: 5px solid #000;
}

.cuadroInternoCompra h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cuadroInternoCompra h2 {
    padding: 10px 10%;
}

.cuadroInternoCompra h1 {
    padding-top: 20px;
    font-size: 36px;
    text-align: center;
}

.botonesCompra {
    justify-content: space-evenly;
    display: grid;
}

.botonesCompra button {
    padding: 5px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ccc;
}

@media (max-width: 1000px) {
    .cuadroCompra {
        padding: 0 5%;
    }
  }

/* -------------- Css for all login pages -------------- */
/* Forms */
.login-form-layout{
  width: 100%;
}

.login-pages-title{
  font-size: 2.7vw;
  text-align: center;
  margin-top: 10vh;
  padding-right: 2%;
}

.login-forms-labels{
  font-size: 1.5vw;
  /*display: block;*/
  /*text-align: left;*/
}

.login-forms-inputs{
  width: 90%;
  padding: 2%;
}

.login-form-submit-button{
  display: block;
  margin: 3vh auto 3vh auto;

}

/* White space */
.login-pages-white-space{
  height: 20%;
}
/* Admin button */
.admin-login-button{
  border-radius: 25px;
  border-style: solid;
  border-color: #CEDE18;

  width: 100%;
  wrap-option: wrap;
  /*display: block;*/
  /*margin: auto;*/
  margin-top: 2vh;
  margin-bottom: 2vh;

  font-weight: bold;
  font-size: 2vh;
  font-family: "Poppins regular", serif;


  transition: all 0.5s;
}

.admin-login-button:hover{
  background-color: #CEDE18;
  color: black;
  transition: all 0.5s;
  cursor: pointer;
}


/* Links */
.login-page-link{
  text-decoration: underline;
  margin-top: 3vh;
}
