<section class="layout-login-user">

  <section class="left-image-section">

    <img class="login-image" src="https://images.unsplash.com/photo-1602618135005-165bc6b7e847?auto=format&fit=crop&q=80&w=1886&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

    <img class="login-image" src="https://images.unsplash.com/photo-1579450887429-b86059844ac6?auto=format&fit=crop&q=80&w=2127&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

    <img class="login-image" src="https://images.unsplash.com/photo-1601297543584-575ace20ed5b?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

  </section>

  <section class="right-form-section">

    <h1 class="monument-regular fuchsia-accent login-pages-title">Iniciar Sesion</h1>

    <form>
      <label class="login-forms-labels fuchsia-accent">Email</label>
      <br>
      <input type="email" class="general-form-input login-forms-inputs black-background bright-blue-accent">
      <br>
      <label  class="login-forms-labels fuchsia-accent">Contraseña</label>
      <br>
      <input class="general-form-input login-forms-inputs black-background bright-blue-accent">
      <br>
      <input type="submit" class="general-form-button bright-blue-accent black-background">



    </form>

  </section>

</section>
