<section class="layout-login-user">

  <section class="left-image-section">

    <img class="login-image" src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

    <img class="login-image" src="https://images.unsplash.com/photo-1599839619722-39751411ea63?auto=format&fit=crop&q=80&w=1888&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

    <img class="login-image" src="https://images.unsplash.com/photo-1601297543584-575ace20ed5b?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

  </section>

  <section class="right-form-section">

    <h1 class="monument-regular fuchsia-accent login-pages-title">Iniciar Sesion</h1>

    <form class="login-form-layout">
      <label class="login-forms-labels fuchsia-accent">Email</label>
      <br>
      <input type="email" class="general-form-input login-forms-inputs black-background bright-blue-accent"
             placeholder="Introduce tu correo">
      <br>
      <label  class="login-forms-labels fuchsia-accent">Contraseña</label>
      <br>
      <input class="general-form-input login-forms-inputs black-background bright-blue-accent"
             placeholder="Introduce tu contraseña">
      <br>
      <input type="submit" class="general-form-button bright-blue-accent black-background login-form-submit-button">
    </form>

    <div class="login-pages-white-space">

    </div>

    <button class="admin-login-button black-background yellow-green-accent">Administradores</button>
    <a href="user-login.component.css" class="login-page-link fuchsia-accent"> ¿Aun no tienes cuenta? ¡Creala acá!</a>
  </section>

</section>
