.layout-login-user{
  height: 100vh;

  max-width: 100vw;
  display: flex;
  gap: 2%;
}


/* ---------------------- */
.left-image-section{
  flex: 6.3;
  display: flex;
  justify-content: space-between;
  max-width: 60vw;

}

.login-image{
  height: 100vh;
  width: 32%;


  object-fit: cover;

}


/* ---------------------- */
.right-form-section{
  flex: 3.7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  padding:2%;




}
