.layout-login-user{
  height: 100vh;

  max-width: 100vw;
  display: flex;
  gap: 2%;
}


/* ---------------------- */
.left-image-section{
  flex: 6.3;
  display: flex;
  max-width: 60vw;

  justify-content: center;
  justify-items: center;
}

.login-image{
  height: 100vh;
  width: 30%;

  margin-left: 2%;

  object-fit: cover;

}


/* ---------------------- */
.right-image-section{
  flex: 3.7;

}
