<app-top-bar-landing-page></app-top-bar-landing-page>

<!--Inicio info discoteca-->
<div class="flex-container">
    <div class="flex-item-left">
        <img src="./sample image/sample Banner.png" alt="LOGO" srcset="">
    </div>
    <div class="flex-item-left">
        <div class="profile_field">
            <p class="type_field">Precio: </p>
            <br>
            <p>Sample name</p>
        </div>
        <div class="profile_field">
            <p class="type_field">Calificacion general </p>
            <br>
            <p>☆☆☆☆☆</p>
        </div>
        <div class="profile_field">
            <p class="type_field">Cantidad personas </p>
            <br>
            <p>Sample number</p>
        </div>
        <div class="profile_field">
            <p class="type_field">Precio total </p>
            <br>
            <p>Sample number</p>
        </div>
    </div>
    <div class="flex-item-left">
        <div class="date">
            <div class="result">
                <span class="date-title">
                    Dec 22,2019
                </span>
            </div>
            <div class="selector">
                    <button class="left">
                        <i class="fas fa-chevron-left"></i>
                    </button>		
                    <div class="month">
                        December	
                    </div>
                    <button class="right">
                        <i class="fas fa-chevron-right"></i>
                </button>
            </div>
            <div class="picker">
                <div class="days">
                    <span>Su</span>
                    <span>Mo</span>
                    <span>Tu</span>
                    <span>We</span>
                    <span>Thu</span>
                    <span>Fr</span>
                    <span>Sa</span>
                </div>	
                <div class="dates">
                    <div class="dates-row">
                    <span id="1">1</span>
                    <span id="2">2</span>
                    <span id="3">3</span>
                    <span id="4">4</span>
                    <span id="5">5</span>
                    <span id="6">6</span>
                    <span id="7">7</span>
                    </div>
                    <div class="dates-row">
                        
                    <span id="8">8</span>
                    <span id="9">9</span>
                    <span id="10">10</span>
                    <span id="11">11</span>
                    <span id="12">12</span>
                    <span id="13">13</span>
                    <span id="14">14</span>
                    </div>
                    
                    <div class="dates-row">
                        <span id="15">15</span>
                    <span id="16">16</span>
                    <span id="17">17</span>
                    <span id="18">18</span>
                    <span id="19">19</span>
                    <span id="20">20</span>
                    <span id="21">21</span>
                    </div>
                    
                    <div class="dates-row">
                        <span id="22">22</span>
                    <span id="23">23</span>
                    <span id="24">24</span>
                    <span id="25">25</span>
                    <span id="26">26</span>
                    <span id="27">27</span>
                    <span id="28">28</span>
                    </div>
                    
                    <div class="dates-row">
                        <span id="29">29</span>
                    <span id="30">30</span>
                    </div>
                </div>
                <div class="months">
                    <div class="months-row">
                        <span id="Jan">Jan</span>
                        <span id="Feb">Feb</span>
                        <span id="Mar">Mar</span>
                        <span id="Apr">Apr</span>
                    </div>
                    <div class="months-row">
                        <span id="May">May</span>
                        <span id="Jun">Jun</span>
                        <span id="Jul">Jul</span>
                        <span id="Aug">Aug</span>
                    </div>
                    <div class="months-row">
                        <span id="Sep">Sep</span>
                        <span id="Oct">Oct</span>
                        <span id="Nov">Nov</span>
                        <span id="Dec">Dec</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  src="Informacion discoteca/calendario/script.js"></script>
    </div>
</div>
<!--Fin info discoteca-->

<!--Inicio detalles-->
<div class="botones_detalles">
    <button>NightCoins</button>
    <button>PSE</button>
    <button>Tarjeta</button>
    <button>Nequi</button>
</div>
<div class="detalles">
    <h2>Descripcion</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates accusamus, exercitationem, est architecto officia quisquam reprehenderit quae, velit cupiditate ducimus quas! Adipisci facere officia ab aliquam, provident ullam nisi molestias.</p>
</div>
<!--Fin detalles-->

<!--Inicio Footer-->
<br>
<footer class="footer" style="height: 400px;">
    <p style="text-align: center;font-size: 48px;height: 400px;background: #ccc;">Footer</p>
</footer>
<!--Fin Footer-->
