/*-----------------------*/
.topbar-layout{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  z-index: 1000;
  max-width: 100vw;

  /*background-color: inherit;*/
  background-color: #F2EBD2;
  display: flex;
  align-content: center;
  align-items: center;
  font-family: Recoleta, serif;

  transition: all 0.5s;
}

.link-menu{
  border: none;
  background-color: inherit;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: #2D2D2D;

  transition: all 0.5s;
}

.link-menu:hover{

  text-decoration: none;
  cursor: pointer;

  transition: all 0.3s;
}


/*-----------------------*/
.topbar-left-section{
  display: flex;
  flex: 2;
  text-align: left;
  vertical-align: middle;
  justify-content: space-around;
  font-size: 1.5rem;

  padding-left: 3%;
}

/*-----------------------*/
.topbar-title-section{
  flex: 1;
}

.topbar-title{
  font-family: Recoleta, serif;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;

}

/*-----------------------*/
.topbar-right-section{
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;

  padding-right: 3%;
}

.selector-lenguaje{
  font-size: 2rem;
  vertical-align: middle;
}

.selector-lenguaje{
  vertical-align: middle;
}

.selector-lenguaje span{
  font-weight: bold;
}

/*-----------------------*/
.boton-login{
  border-radius: 8px;
  color: #2D2D2D;

  width: 7vw;
  wrap-option: wrap;

  font-family: Recoleta, serif;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 10%;

  transition: all 0.5s;
}

.boton-login:hover{
  background-color: inherit;
  transition: all 0.5s;
  cursor: pointer;
}
